header, body, footer {
  margin: 0 auto;
  width: 900px;
}

header {
  margin-top: 10px;
}

.topbar li {
  display: inline-block;
  float: left;
}

.cursive {
  font-family: "Brush Script MT";
  padding-left: 5px;
  font-size: 37px;
}

.strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  padding-left: 5px;
  color: gray;
}

.fuck li {
  display: inline-block;
  float: left;
  padding-top: 20px;
  border: 1px solid white;
}

.fuck li:first-of-type {
  margin-left: 495px;
}

.lasttwo {
  padding-left: 5px;
}

.linebox {
  height: 10px;
  width: 900px;
  position: relative;
  top: 70px;
  background: repeating-linear-gradient(
  45deg,
  white,
  white 1px,
  lightgray 3px
);
}

section h1 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  
  margin-bottom: 5px;
}

section h2 {
  float: right;
  font-size: 11px;
  margin-top: -10px;
  margin-bottom: 20px;
}

section .maintext li:nth-child(2) {
  margin-top: 20px;
}

section .maintext li:not(:first-child) {
  text-indent: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.listimg {
  position: absolute;
  z-index: -1;
  top: 1000px;
}

.leftlist {
  float: left;
  padding-top: 35px;
  margin-left: 50px;
  font-family: arial;
  font-size: 20px;
  margin-right: 70px;
}

.rightlist {
  width: 350px;
}

.rightlist p {
  margin-top: 15px;
  margin-left: 25px;
}

.leftlist li {
  padding-top: 10px;
}

.leftlist li:before { 
  content: "\2610";
  margin-right: 5px;
}
  
.bar {
  height: 10px;
  width: 900px;
  position: absolute;
  top: 1335px;
  background: repeating-linear-gradient(
  45deg,
  white,
  white 1px,
  lightgray 3px
);
}

footer section img {
  float: left;
}

footer section h3 {
  margin-left: 80px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

footer section p {
  width: 500px;
  margin-left: 80px;
  line-height: 1.25;
}

button {
  margin-left: 600px;
  margin-top: -75px;
  border: none;
  background: rgb(122, 9, 9);
  color: #fff;
  padding: 10px 25px;
  transition: 350ms all;
  cursor: pointer;
  float: right;
}

.endingcontent img {
  margin-left: 420px;
  position: absolute;
  top: 1475px;
  z-index: 3;
  border: 10px solid white;
}

.endingcontent p:first-of-type {
  margin-left: 325px;
  margin-top: 10px;
  padding-bottom: 5px;
  display: block;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.endingcontent p:last-of-type {
  margin-left: 350px;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.checkbox {
  height: 13px;
  width: 13px;
  position: absolute;
  z-index: 5;
  top: 1074px;
  left: 667px;
}

.checkbox2 {
  height: 13px;
  width: 13px;
  position: absolute;
  z-index: 4;
  top: 1104px;
  left: 667px;
}